langchain>=0.3.27
langchain-core>=0.3.75
langchain-community>=0.3.29
langchain-cerebras>=0.5.0
python-dotenv>=1.1.1
pydantic>=2.11.7
fastapi>=0.116.1
uvicorn[standard]>=0.35.0
pymongo>=4.14.1
resend>=2.13.0
requests>=2.32.4
httpx>=0.28.1
notebook>=7.4.5
jupyterlab>=4.4.6
ipykernel>=6.30.1
ipywidgets>=8.1.7
rich>=14.1.0
orjson>=3.11.3
typing_extensions>=4.15.0
black>=25.1.0
isort>=6.0.1